.sidebar{
	padding-top: 20px;
	height: 100vh;
	position: fixed;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active{
	background-color: unset !important;
	font-size: 110%
}

a{
	color: #545c8a;
	text-decoration:none;
}
