    <ngx-loading [show]="loader" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="row">
  <div class="col-md-8 home bg-main">
  	<h1 class="masthead-brand text-white displai"><i class="fa fa-medkit"></i> Myclinic</h1>
  	<div class="inner cover">
            <h2 class="display-3 text-white">Welcome</h2>
            <h3 class="text-white">Register for myclinic account here.</h3>
            <br>
            <p class="lead text-white">It just less than 5 minutes for register, so you can track your medical record easily.</p>
            <br>
            <input type="submit" (click)="onRegister()" value="REGISTER HERE" class="main-out-btn">
          </div>
  </div>
  <div class="col-md-4 home bg-grey">
  	<form class="form-signin" (submit)="onLoginSubmit()">
        <h4 class="form-signin-heading">Or login to your account</h4>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" [(ngModel)]="username" name="username" class="main" id="inputEmail" placeholder="Username" required autofocus>
        <label for="inputEmail" class="sr-only">Password</label>
        <input type="Password" [(ngModel)]="password" name="password" class="main" id="inputEmail" placeholder="Password" required autofocus>
        <input type="submit" class="main-btn bg-main text-white" value="LOGIN">
        <flash-messages></flash-messages>
      </form>
  </div>
</div>